<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startPoints</key>
	<array>
		<string>{20.5,11.5}</string>
		<string>{8.5,11.5}</string>
		<string>{8.5,30.5}</string>
		<string>{21.5,29.5}</string>
		<string>{21.5,45.5}</string>
		<string>{32.5,10.5}</string>
		<string>{32.5,51.5}</string>
		<string>{47.5,51.5}</string>
		<string>{52.5,45.5}</string>
		<string>{65.5,10.5}</string>
		<string>{65.5,53.5}</string>
		<string>{66.5,9.5}</string>
		<string>{87.5,9.5}</string>
		<string>{87.5,29.5}</string>
		<string>{66.5,29.5}</string>
		<string>{87.5,50.5}</string>
		<string>{101.5,8.5}</string>
		<string>{121.5,8.5}</string>
		<string>{102.5,8.5}</string>
		<string>{105.06,27.73}</string>
		<string>{106.5,30.5}</string>
		<string>{135.5,7.5}</string>
		<string>{149.5,8.5}</string>
		<string>{149.5,51.5}</string>
		<string>{150.5,8.5}</string>
		<string>{171.5,49.5}</string>
		<string>{217.5,8.5}</string>
		<string>{191.5,8.5}</string>
		<string>{191.5,51.5}</string>
		<string>{217.5,51.5}</string>
		</array>
	<key>endPoints</key>
	<array>
		<string>{8.5,11.5}</string>
		<string>{8.5,30.5}</string>
		<string>{20.5,30.5}</string>
		<string>{21.5,45.5}</string>
		<string>{10.5,51.5}</string>
		<string>{32.5,51.5}</string>
		<string>{47.5,51.5}</string>
		<string>{52.5,45.5}</string>
		<string>{52.5,10.5}</string>
		<string>{65.5,53.5}</string>
		<string>{65.5,10.5}</string>
		<string>{87.5,9.5}</string>
		<string>{87.5,29.5}</string>
		<string>{66.5,29.5}</string>
		<string>{87.5,50.5}</string>
		<string>{95.5,50.5}</string>
		<string>{121.5,8.5}</string>
		<string>{101.5,8.5}</string>
		<string>{105.06,27.73}</string>
		<string>{108.5,53.5}</string>
		<string>{125.5,30.5}</string>
		<string>{135.5,51.5}</string>
		<string>{149.5,51.5}</string>
		<string>{149.5,8.5}</string>
		<string>{171.5,49.5}</string>
		<string>{177.5,8.5}</string>
		<string>{191.5,8.5}</string>
		<string>{191.5,51.5}</string>
		<string>{217.5,51.5}</string>
		<string>{217.5,29.5}</string>
	</array>
</dict>
</plist>
